nav.app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  & > ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;

    li {
      display: block;

      a.active {
        font-weight: bold;
      }
    }
  }
}
